<% if @profile.profile %>
  <p>
    <b><%= @profile.name %></b> your one-in-a-million is <b><%= @profile.profile.name %></b>
  </p>
<% else %>
  <p>
    Sorry, <b><%= @profile.name %></b>. Be patient, love is coming and it bears the number <%= @profile.number %>
  </p>
<% end %>
