<% if @profile.profile %>
  <h1>
    <b><%= @profile.name %></b> your one-in-a-million is <b><%= @profile.profile.name %></b>
  </h1>
<% else %>
  <h1>
    Sorry, <b><%= @profile.name %></b>. Be patient, love is coming!
  </h1>
<% end %>
